<!-- strong>Picture:</strong> -->
   <!--- Modelのstyleで指定した :midium など渡すことでサイズを指定できる -->
   <%#= image_tag @profile.photo.url(:medium) %>
  <!--  <p>
  <strong>自己紹介:</strong> -->
  <%#= @profile.comment %>
<!-- </p>

</p> -->